/*
Colors:

Text: 1A1A1A 26,26,26
Green: #00B172
White: #FFF

*/

.nav-bar {
    position: fixed;
    background-color: #FFF;
}

.nav-bar-ul {
    margin-left: 75%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    color: black;
    text-decoration: none;

  }

  .nav-bar-ul > li {
    padding: 5px;
  }

  #logo {
    height: 5%;
    width: 10%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

#principal {
    background-image: url("https://raw.githubusercontent.com/nestorsdelgado/lab-css-spotify-clone/refs/heads/master/images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    height: 850px;
    width: 100%;
  }

  #principal h1 {
    color: #FFF;
    text-align: center;
    padding-top: 20%; 
    font-weight: bold;
    font-size: 50px;
 }

 #principal h2 {
    color: #FFF;
    text-align: center;
    font-weight:lighter;
    font-size: 25px;
    margin-bottom: 0px;
 }

 #principal h3 {
    color: #FFF;
    text-align: center;
    font-weight:lighter;
    font-size: 25px;
    margin-top: 0px;

 }

  .bloque {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #spotify-features h2 {
    text-align: center;
    font-size: 40px;
  }

  #spotify-features h3 {
    text-align: center;
    font-size: 40px;
  }

  #spotify-features p {
    text-align: center;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .features img{
    width: 150px;
    width: 150px;
  }

  #last-section {
    background-color: #00B172;
    color: white;
    padding: 100px;
  }

  #column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #last-section h3 {
    font-size: 40px;
    text-decoration: underline;
  }

  #last-section h4 {
    font-size: 35px;
  }

  #last-section p {
    font-size: 25px;
    margin-right: 600px;
  }

  #pantalla {
    padding-left: 20px;
    height: 100%;
    width: 80%;
  }

  #white-logo {
    height: 150px;
    width: 150px;
    display: flex;
    position: absolute;
    top: 225%;
    left: 50%;

  }
